body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe4ec, #fff5cc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 93%;
    justify-content: center;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #f7d774;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background: #f4c542;
}

.erro {
    color: red;
    margin-top: 10px;
}

.cadastro {
    margin-top: 15px;
    font-size: 14px;
}