<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - FLuxy</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel='icon' type="image/icon" href="view/home.png">
</head>
<body>

    <div class="hero">
        <div class="hero-content">
            <h1>Seja Bem-Vindo ao Seu Controle Financeiro</h1>
            <p>
                Organize suas despesas de forma simples, leve e sem estresse.
                Seu dinheiro sob controle, sua mente em paz.
            </p>

            <div class="buttons">
                <a href="controle.html" class="btn-primary">Começar agora</a>
                <a href="https://github.com/isadorasilva22/Fluxy/tree/dev?tab=readme-ov-file#fluxy" class="btn-secondary">Saiba mais</a>
            </div>
        </div>
    </div>

</body>
</html>