<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Despesas - Fluxy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registros.css') }}">
    <link rel='icon' type="image/icon" href="{{ url_for('static', filename='src/despesas.png') }}">
</head>
<body>

<div class="container">

    <header class="topo">
        <div class="titulo">
            <h1>📋 Seus Registros</h1>
            <p>Visualize todas as receitas e despesas cadastradas</p>
        </div>

        <a href="{{ url_for('controle') }}" class="btn-voltar">
            Voltar
        </a>
    </header>

    <!-- FILTRO GLOBAL -->
<div class="card">
    <div class="filtro">
        <label for="filtro-mes">Filtrar por mês:</label>
        <input type="month" id="filtro-mes">
        <button id="btn-limpar" class="btn-limpar">Limpar</button>
    </div>
</div>

    <!-- RECEITAS -->
    <section class="card">
        <h2>Receitas</h2>

        <table class="tabela tabela-animada">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody id="lista-receitas"></tbody>
        </table>
    </section>

    <!-- DESPESAS -->
    <section class="card">
        <h2>Despesas</h2>

        <table class="tabela tabela-animada">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody id="lista-despesas"></tbody>
        </table>
    </section>

</div>

<script src="{{ url_for('static', filename='js/registros.js') }}"></script>
</body>
</html>